#!{{ lookPath "sh" }}

{{ if (eq .chezmoi.os "linux") }}
	echo "linux platform"
{{ else if (eq .chezmoi.os "darwin") }}
	echo "macos platform"
{{ else }}
    echo "platform not supported"
	exit 0
{{ end }}
