{{- $name := (default "NND" (env "FULL_NAME")) -}}
{{- $email := (default "d@nnd.vn" (promptString "PRIMARY_EMAIL")) -}}
{{- $gpg_key_id := promptString "gpg key id" "0xF2591EC12FBF999F" -}}
{{- $password_store_repo := promptStringOnce . "password_store_repo" "local path or git repo url" ".password-store" -}}

data:
    name: "{{ $name }}"
    email: "{{ $email }}"

encryption: "gpg"

gpg:
    recipient: "{{ $gpg_key_id }}"
    args: ["--quiet"]

git:
    autoCommit: true
    autoPush: false
