{{ if ne .chezmoi.os "darwin" }}
.chezmoiscripts/darwin/**
.brew
.brew-aliases/
.gnupg/sshcontrol
.ssh/config
.hushlogin
.DS_Store
{{ end }}

{{ if ne .chezmoi.os "linux" }}
.chezmoiscripts/debian/**
# .ssh/sshd_config
{{ end }}

README.md
install.sh
