# ~/.ssh/config

Host do01sgp1
    Hostname {{ pass "server/do01sgp1" }}
    User nnd
    Port {{ pass "protocol/ssh/port" }}

Host homelab
    Hostname nnd-s01-rpi5.local
    User nnd
    Port {{ pass "protocol/ssh/port" }}

Host *
    User root
    Compression yes